body {
  text-align: center;
  font-family: sans-serif;
  overflow: auto;
  margin: 0;
}
main {
  min-height: 100vh;
  overflow: auto;
}
h1 {
  font-size: 40px;
}
ul {
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#inputAddr {
  width: 250px;
}
#address-template {
  text-align: center;
}
.item {
  width: 300px;
  margin: 20px 30px;
  position: relative;
}
.inputName {
  width: 160px;
  position: relative;
  top: 25px;
  border: 0;
  text-align: center;
  font-size: 20px;
}
#x {
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-weight: bold;
}
#QR {
  width: 15em;
  margin-top: 10px;
}
#addr {
  overflow-wrap: anywhere;
}
#Placeholder {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 0 0 70px 0;
}
footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -70px;
}
.githublogo {
  width: 64px;
  position: relative;
  top: -5px;
  left: -5px;
}
@media screen and (max-height: 670px) {
  footer {
    margin-top: 0px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 34px;
  }
}
